# sonarqube.properties.j2
sonar.jdbc.username=admin
sonar.jdbc.password=Admin@123456
sonar.jdbc.url=jdbc:mysql://localhost:3306/sonar?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance
sonar.web.host=0.0.0.0
sonar.web.port=9000
sonar.path.data=data
sonar.path.logs=logs
